ul {
    list-style-type: none;
   margin-left:300px;
   margin-top:150px;
    padding: 0;
    overflow: hidden;
    background-color: 	 #483D8B;
	width:60%;
	opacity:10;
	}

li {
    float: left;
    border-right:1px dotted grey;
	margin-left:40px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

li a:hover:not(.active) {
    background-color: #111;
}

