.a { 
border:1px solid grey;
height:50px;
width:650px;
margin-left:270px;
margin-top:150px;
}
.b {
	margin-left:272px;
	margin-top:-41px;
}
.button1{
	height:32px;
	width:62px;
    margin-left:333px;
	margin-top:-40px;
	color:black;
	text-decoration:none;
	
}
.button2{
	height:32px;
	width:62px;
    margin-left:433px;
	margin-top:-40px;
	color:black;
	text-decoration:none;
	background-color:skyblue;
	
}
.button3{
	height:32px;
	width:62px;
    margin-left:533px;
	margin-top:-40px;
	color:black;
	text-decoration:none;
	background-color:skyblue;
	
}
.button4{
	height:32px;
	width:62px;
    margin-left:633px;
	margin-top:-40px;
	color:black;
	text-decoration:none;
	background-color:skyblue;
	
}
.button5{
	height:32px;
	width:62px;
    margin-left:733px;
	margin-top:-40px;
	color:black;
	text-decoration:none;
	background-color:skyblue;
	
}
.button6{
	height:32px;
	width:62px;
    margin-left:833px;
	margin-top:-40px;
	color:black;
	text-decoration:none;
	background-color:skyblue;
	
}