.a {
border:1px solid grey;
height:40px;
width:600px;
margin-left:300px;
margin-top:150px;
}
.b {
	  margin-left:330px;
	  margin-top:-30px;
	  color:red;
	  font-size:
	  
}

input {
	margin-left:450px;
margin-top:-20px;
}
.c {
	color:red;
	margin-left:680px;
	margin-top:-20px;
	word-spacing:10px;
}